<a href="https://colab.research.google.com/github/vibhanarayan7/Machine-learning/blob/main1/ML_Cryotheraphy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
d1=pd.read_excel('Copy of Cryotherapy.xlsx')
d1
X=d1.drop(columns=['Result_of_Treatment'])
y=d1['Result_of_Treatment'].to_list()
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=30)
model1=KNeighborsClassifier(n_neighbors=7)
model1.fit(X_train,y_train)
model1.predict(X_test)
a_s=model1.score(X_test,y_test)
print(a_s*100,'%')

88.88888888888889 %

In [18]:
d1=pd.read_excel('Copy of Cryotherapy.xlsx')
d1

    sex  age   Time  Number_of_Warts  Type  Area  Result_of_Treatment
0     1   35  12.00                5     1   100                    0
1     1   29   7.00                5     1    96                    1
2     1   50   8.00                1     3   132                    0
3     1   32  11.75                7     3   750                    0
4     1   67   9.25                1     1    42                    0
..  ...  ...    ...              ...   ...   ...                  ...
85    2   34  12.00                3     3    95                    0
86    2   20   3.50                6     1    75                    1
87    2   35   8.25                8     3   100                    0
88    1   24  10.75               10     1    20                    1
89    1   19   8.00                8     1   160                    1

[90 rows x 7 columns]